<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Tweeter</title>
</head>
<body>

    <div class="header">
        <h1>Tweeter</h1>
            
            <div id="formContainer" style="display: none;">
                <form method="post" action="">
                    <!-- Your form fields go here -->
                    {% for field in postform %}
                    <div class="form-group">
                            {% csrf_token %}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <br><button class="post-button submit" type="submit">Post</button>
                </form>
            </div>
            <button id="postbutton" class="post-button" type="submit" href="https://google.com">Post</button>
            <script>
                document.getElementById('postbutton').addEventListener('click', function() {
                    document.getElementById('formContainer').style.display = 'block';
                    document.getElementById('postbutton').style.display = 'none';
                });
            </script>
    </div>
    
    <div class="post_area">
        {% for post in posts %}
        <div class="post">
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
        </div>
        {% endfor %}

    </div>

</body>
</html>
